*{
    margin: 0;
}
.top {
    width: 100%;
    height: 50px;
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}
.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCenter{
    flex: 6;
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topList{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;    
    justify-content: center;
}
.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}

@media only screen and (max-width: 768px) {
    .topListItem{
        font-size: 15px;
    }
  } 
@media only screen and (max-width: 576px) {
    .topListItem{
        font-size: 13px;
    }
    .topLeft, .topRight{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;       
    }
    .topCenter{
        flex: 8;
    }
    .topIcon{
        font-size: 16px;
        margin-right: 5px;
        color: #444;
        cursor: pointer;
    }

  } 
/* @media only screen and (min-width: 480px) {
    .topListItem{
        font-size: 13px;
    }
    .topLeft, .topRight{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;       
    }
    .topCenter{
        flex: 8;
    }
    .topIcon{
        font-size: 16px;
        margin-right: 5px;
        color: #444;
        cursor: pointer;
    }

  }  */
  @media only screen and (min-width: 375px) {
    .topLeft, .topRight{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .topCenter{
        flex: 8;
    }
    .topListItem{
        margin-right: 7px;
        font-size: 10px;
        font-weight: 300;
        cursor: pointer;
    }
    .topIcon{
        font-size: 9px;
        margin-right: 3px;
        color: #444;
        cursor: pointer;
    }  
}