.header{
    margin-top: 60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: rgb(44, 2, 2);    
}
.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 20px;
}
.headerTitleLg{
    position: absolute;
    top: 20%;
    font-size: 50px;
}

.headerImg{
    
    width: 100%;
    height: 450px;
    margin-top: 70px;
    object-fit: cover;
}