.header{
    margin-top: 40px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: rgb(44, 2, 2);    
}
.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 15px;
}
.headerTitleLg{
    position: absolute;
    top: 20%;
    font-size: 25px;
}

.headerImg{
    
    width: 100%;
    height: 300px;
    margin-top: 40px;
    margin-right: 0;
    object-fit: cover;
}
.sidebarListItem{
    display: block;
}